{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block breadcrumb %}
    <ol class="breadcrumb " >
        <div class="breadcrumb-title">
            <li ><a href="{% url 'index' %}"><i class=" icon-caret-right"></i> Inicio</a> /</li>
            <li ><a href="#">{{ documento.proceso.nombre }}</a> /</li>
            <li class="active"><a href="#">{% if documento.formato %}{{ documento.formato.nombre }} - {% endif %}{{ documento.codigo }}</a></li>
        </div>
    </ol>
{% endblock %}

    {% block content %}

        <div class="main-inner" ng-controller="NuevoDocumentoCtrl">

            <div class="container">

                <div class="row" >

                    <div class="span3  procesos">
                        <ul class="nav nav-tabs nav-stacked ">
                            <li class="title-nav"><i class="icon-edit" style="font-size: 18px"></i><h3 style="font-size: 16px;  font-weight: 800; padding-left: 5px;display: inline-block">FORMATOS</h3></li>

                            <li {% if default %}class="active"{% endif %}><a class="ver_proceso" href="/documento/nuevo/{{ proceso.pk }}"> Formato Estandar</a></li>

                            {% for f in formatos.all %}
                                <li {% ifequal f.pk formato.pk %} class="active" {% endifequal %} ><a class="ver_proceso" ng-click="nuevoDocumentoByFormato('{{ f.pk }}')">{{ f.nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="span9">

                        <div id="contenido" style="border: 1px solid #d9d9d9;min-height: 400px; background: white; padding-bottom: 0 !important;">

                            <div class="widget ">
                                <div class="widget-header">
                                    <i class="icon-file"></i>

                                    {% if documento.formato %}
                                        <h3>Nombre: <span style="text-transform: uppercase; ">{{ documento.formato.nombre }}</span></h3>

                                    {% else %}
                                       <h3>Proceso: <span style="text-transform: uppercase; ">{{ documento.proceso.nombre}}</span></h3>
                                    {% endif %}
                                </div> <!-- /widget-header -->

                                <tr class="widget-content">

                                    <form name="muestraDocumento" id="muestra-documento" class="form-horizontal" ng-submit="enviar()" enctype="multipart/form-data" method="POST" action="#">
                                        {% csrf_token %}
                                        <table>
                                            <thead>
                                                <tr class="separator">
                                                    <td>Descripción</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td >Categoría</td>
                                                    <td >{{documento.proceso.categoria}}</td>
                                                </tr>
                                                <tr >
                                                    <td >Proceso</td>
                                                    <td >{{documento.proceso.nombre}}</td>
                                                </tr>
                                                <tr >
                                                    <td >Tipo de Documento</td>
                                                    <td >{{documento.tipo_documento}}</td>
                                                </tr>
                                                <tr >
                                                    <td >Codigo</td>
                                                    <td >{{documento.codigo}}</td>
                                                </tr>

                                                {% if registros %}
                                                    <tr class="separator">
                                                        <td >Contenido</td>
                                                        <td ></td>
                                                    </tr>
                                                    {% for registro in registros %}
                                                    <tr >
                                                        <td >{{registro.campo.nombre}}</td>
                                                        <td >{{registro.valor}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr class="separator">
                                                        <td >Información Adicional</td>
                                                        <td ></td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td >Fecha de Emisión</td>
                                                    <td >{{documento.fecha_emision}}</td>
                                                </tr>
                                                <tr >
                                                    <td >Emisión</td>
                                                    <td >{{documento.version}}</td>
                                                </tr>
                                                {% ifnotequal documento.desc_cambios "" %}
                                                <tr>
                                                    <td >Descripción de Cambios</td>
                                                    <td >{{documento.desc_cambios}}</td>
                                                </tr>
                                                {% endifnotequal %}
                                                <tr >
                                                    <td >Páginas</td>
                                                    <td >{{documento.paginas}}</td>
                                                </tr>
                                                <tr >
                                                    <td >Documento Restringido</td>

                                                    <td >{% ifequal documento.restringido True %} Si {% else %} No {% endifequal %}</td>
                                                </tr>
                                                <tr >
                                                    <td >Ubicación Original</td>
                                                    <td >{{documento.ubicacion_original}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <div >
                                        {% if documento.is_external%}
                                            <a class="btn btn-info base-color" href="{{documento.external_link}}"><i class="btn-icon-only  icon-external-link-sign"></i>Ir a enlace de documento original</a>
                                        {% else %}
                                            <a class="btn btn-info" href="{{MEDIA_URL}}{{documento.archivo}}" download="" target="_blank"><i class="btn-icon-only  icon-download-alt"></i>Descargar archivo Original</a>
                                        {% endif%}
                                            <a class="btn btn-success" href="{{MEDIA_URL}}{{documento.archivo}}" download="" target="_blank"><i class="btn-icon-only  icon-download-alt"></i>Descargar versión PDF</a>
                                            <a class="btn btn-primary" href="{% url 'empresas:nueva_version_documento' documento.codigo %}" ><i class="btn-icon-only  icon-plus-sign"></i>Crear nueva versión</a>

                                        </div>
                                    </form>

                                </div> <!-- /widget-content -->

                            </div> <!-- /widget -->
                        </div>

                    </div>



                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block some_extra_js %}
    <script>
        $( document ).ready(function(){
            window.proceso='{{ proceso.pk }}';
            window.categoria='{{ proceso.categoria.pk }}';

        });
    function visibleFileValue (field) {

        var fullPath = $('#id_'+field).val();
        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
            filename = filename.substring(1);
        }

        $('#id_file_label_'+field).html(filename)
    }
    </script>
<script src="{% static 'js/angular/empleado/controller.js' %}"></script>


{% endblock %}