
    <div class="widget widget-table action-table" ng-controller="ProcesosCtrl">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>PROCESOS</h3>
            <button ng-click="creaProceso()" class="btn btn-success pull-right button-crear-proceso" style="margin-right: 25px;   margin-top: 6px;"><i class="btn-icon-only icon-plus-sign" style="color: white; vertical-align: middle"></i> Nuevo Proceso</button>
        </div>
        <!-- /widget-header -->
        <div class="widget-content" >
            <table class="table table-striped table-bordered" >
                <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Codigo</th>
                    <th > Categoría</th>
                    <th class="td-actions"> </th>
                </tr>
                </thead>
                <tbody>
                    {% verbatim %}
                    <tr ng-repeat="proceso in procesos">
                        <td>{{ proceso.nombre }} </td>
                        <td> {{ proceso.categoria.nombre }} </td>
                        <td> {{ proceso.descripcion }} </td>
                        <td class="td-actions"><a href="" class="btn btn-small btn-success btn-ver-empleado"><i class="btn-icon-only icon-cog"> </i></a><a href="javascript:;" class="btn btn-danger btn-small btn-elimina-item elimina-empleado"><i class="btn-icon-only icon-remove"> </i></a></td>
                    </tr>


                    {% endverbatim %}
                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>


