
    <div class="widget widget-table action-table" style="margin-bottom: 0 !important; " >
        <div class="widget-header"> <i class="icon-calendar"></i>
            <h3>NUEVA TAREA</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content" style="margin-top: 20px" >
                <div class="span 7">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="firstname">Nombre:</label>
                                <div class="controls">
                                    <input class="span4">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                            <div class="control-group">
                                <label class="control-label" for="firstname">Dirección:</label>
                                <div class="controls">
                                    <textarea class="span4"></textarea>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="control-group">
                                <label class="control-label" for="firstname">Fecha de Entrega:</label>
                                <div class="controls">
                                    <input class="span4" type="date">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="control-group">
                                <label class="control-label" for="firstname">Asignar a:</label>
                                <div class="controls">
                                    <select class="span4">
                                        <option>Perfil 1</option>
                                        <option>Perfil 2</option>
                                        <option>Perfil 3</option>
                                        <option>Perfil 4</option>
                                        <option>Perfil 5</option>
                                    </select>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="pull-right" style="padding: 20px">
                                <button type="button" class="btn btn-primary">Crear Tarea</button>
                            </div>
                        </fieldset>
                    </form>

            </div>
        </div>
    </div>
