/* media */
/* only for specific resolution */
/* line 62, ../sass/main.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 66, ../sass/main.scss */
.alert-danger {
  text-shadow: none;
  background-color: #FCE3E3;
  border: 1px solid #FBD5D5;
  color: #C05353;
}
/* line 71, ../sass/main.scss */
.alert-danger .close {
  padding-bottom: 7px;
}
/* line 74, ../sass/main.scss */
.alert-danger.one-session {
  padding: 40px;
  font-size: 20px;
}

/* line 79, ../sass/main.scss */
.go-home {
  padding-right: 10px;
  font-size: 16px;
  line-height: 18px;
}
/* line 83, ../sass/main.scss */
.go-home:hover {
  text-decoration: none;
}
/* line 86, ../sass/main.scss */
.go-home span {
  padding: 0 6px;
}

/* line 90, ../sass/main.scss */
.footer {
  bottom: 0;
}

/* Forms */
/* line 98, ../sass/main.scss */
.new-item label {
  float: left;
  width: 20%;
  text-align: right;
}
/* line 104, ../sass/main.scss */
.new-item input {
  margin-left: 30px;
  float: left;
  width: 70%;
}
/* line 109, ../sass/main.scss */
.new-item textarea {
  margin-left: 30px;
  float: left;
  width: 70%;
  max-height: 100px;
}
@media (max-width: 570px) {
  /* line 96, ../sass/main.scss */
  .new-item {
    padding: 0 10px;
  }
  /* line 117, ../sass/main.scss */
  .new-item label, .new-item input, .new-item textarea {
    width: 100%;
    margin: auto 0;
  }
  /* line 121, ../sass/main.scss */
  .new-item textarea {
    max-height: 70px;
  }
}

/* line 128, ../sass/main.scss */
.buscar-empresa-form .radio-controls label {
  line-height: 18px;
}

/* line 133, ../sass/main.scss */
.custom-bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* buttons */
/* line 142, ../sass/main.scss */
.empresa-page .panel .btn-success {
  padding: 12px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  /* line 149, ../sass/main.scss */
  .modal {
    position: fixed;
    left: 50%;
    -ms-transform: translateX(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%);
    /* Safari */
    transform: translateX(-20%);
    width: 900px;
  }
}
/* line 158, ../sass/main.scss */
.modal .modal-body {
  padding: 20px 50px;
}
/* line 163, ../sass/main.scss */
.modal .modal-body .control-group .ce-input input {
  width: 100%;
}
/* line 166, ../sass/main.scss */
.modal .modal-body .control-group .ce-input textarea {
  width: 100%;
}

/* line 174, ../sass/main.scss */
.small-td {
  text-align: center !important;
  width: 80px;
}

/* line 179, ../sass/main.scss */
.ver_proceso {
  background-color: #ddd;
  color: #000;
  cursor: pointer;
}
/* line 184, ../sass/main.scss */
.ver_proceso.active {
  background-color: #ffffff;
  color: #19bc9c;
  cursor: pointer;
  pointer-events: auto;
}

/* line 192, ../sass/main.scss */
.crea-formulario {
  font: 22px 'Helvetica Neue';
}
/* line 194, ../sass/main.scss */
.crea-formulario label {
  color: #696969;
  font-weight: bold !important;
}
/* line 199, ../sass/main.scss */
.crea-formulario input {
  font-size: 16px;
}
/* line 202, ../sass/main.scss */
.crea-formulario .nombre {
  float: none;
}
/* line 205, ../sass/main.scss */
.crea-formulario .description {
  float: none;
  margin-top: 30px;
}
/* line 208, ../sass/main.scss */
.crea-formulario .description textarea {
  font-size: 16px;
}

/* line 213, ../sass/main.scss */
.form_error {
  color: red;
  font-size: 12px;
}
