#campos{
    min-height: 530px;
    float: left;
    margin: 10px 10px 10px 10px;
    border: 3px solid #EFEFEF;
    background: white;
}
#campos li{
    list-style-type: none;
}
#item{
    margin:0 !important;
    min-height: 32px;
    border: 1px #C5C5C5 solid;
    text-align: left;
    padding: 5px;
}
#item label{
    text-transform: capitalize;
    height: 28px;
    display: inline-block;
}
#item input{
    text-transform: capitalize;
    display: inline-block
}
#tipos i{
    font-size: 16px;
    color:#47A995;
    text-shadow: none;
}
.tipo_icon{
    text-align: center;
    min-width: 40px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: 1px #47A995 solid;
    border-radius: 3px;
    background: white
}
.tipo_texto{
    display: inline-block;
    vertical-align: middle;
}
#tipos {
    padding: 0.5em;
    float: left;
    margin: 0px;
    margin-right: 10px;
}
#tipos li {
    text-shadow: 1px 1px 1px #47A995;
    font: 18px 'Helvetica Neue';
    text-align: left;
    list-style-type: none;
    color: white ;
    width:90%;
    border-bottom: 4px solid #47A995;
    background-color: #59CFB7;
    margin-bottom: 17px;
}

.search-label{
    display: inline-block;
    padding-left: 10px;
}
