{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block navbar %}
    <li class="active"><a href="empleado.html"><i class="icon-dashboard"></i><span>Inicio</span> </a> </li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-folder-open"></i><span>Documentos</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="documentos.html">Ver Documentos</a></li>
            <li><a href="ver_formulario.html">Crear Documento</a></li>
        </ul>
    </li>
    <li><a href="tareas.html"><i class="icon-calendar"></i><span>Tareas</span> </a></li>
    <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i><span>Mi Cuenta</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="templates_origin/faq.html">Cambiar Contraseña</a></li>
            <li><a href="index.html">Cerrar Sesión</a></li>
        </ul>
    </li>
    <li><a href="templates_origin/guidely.html"><i class="icon-facetime-video"></i><span>Tour</span> </a></li>
{% endblock %}

{% block breadcrumb %}
    </div>
    <ol class="breadcrumb " >
        <div class="breadcrumb-title">
            <li class="active"><a href="#"><i class=" icon-caret-right"></i> Inicio</a> </li>
        </div>
    </ol>
{% endblock %}
{% block content %}
    <div class="main-inner">

        <div class="container" ng-controller="DocumentoCtrl">
            {% csrf_token %}
            <div class="row" >
                <div class="span3  procesos">
                    <ul class="nav nav-tabs nav-stacked ">
                        <li class="title-nav"><i class="icon-retweet" style="font-size: 18px"></i><h3 style="font-size: 16px;  font-weight: 800; padding-left: 5px;display: inline-block">PROCESOS</h3></li>

                        {% if procesos_empresa %}
                            {% for f in procesos_empresa %}
                                <li><a {% for p in procesos.all %}{% ifequal f.pk p.pk %} ng-click="getDocumentos({{ f.pk }})" {% else %} {% endifequal %}{% endfor %} class="ver_proceso {% for p in procesos.all %}{% ifequal f.pk p.pk %} active {% else %}  {% endifequal %}{% endfor %}"> {{f.nombre}}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="span9">
                    <div class="contenido" id="contenido">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block some_extra_js %}

    <script>
        $( document ).ready(function(){
            window.empresa='{{ empresa.pk }}'
        });
    </script>
    <script src="{% static 'js/angular/empleado/controller.js' %}"></script>
{% endblock %}

<script>
    $( document ).ready(function() {

        var EmpresaModel = Backbone.Model.extend({
            defaults: {
                nombre:'',
                nit: "",
                direccion: "",
                telefono1: "",
                telefono2: '',
                descripcion:'',
                sitio_web:'',
                activo: ""
            }
        });
        var empresas = Backbone.Collection.extend({
            model:EmpresaModel
        });
        var DocumentoModel = Backbone.Model.extend({
            defaults: {
                nombre:'',
                nit: "",
                direccion: "",
                telefono1: "",
                telefono2: '',
                descripcion:'',
                sitio_web:'',
                activo: ""
            }
        });
        var Documentos = Backbone.Collection.extend({
            model:DocumentoModel
        });
        var ProcesoModel = Backbone.Model.extend({
            defaults: {
                nombre:'',
                nit: "",
                direccion: "",
                telefono1: "",
                telefono2: '',
                descripcion:'',
                sitio_web:'',
                activo: ""
            }
        });
        var procesos = Backbone.Collection.extend({
            model:ProcesoModel
        });

        var EmpresaView = Backbone.View.extend({
            el: $('body'),
            container: $('#contenido'),
            empresa_model: new EmpresaModel(),
            proceso_model: new ProcesoModel(),
            procesos_template:_.template($('#procesos').html()),
            perfiles_template:_.template($('#perfiles').html()),
            tareas_template:_.template($('#tareas').html()),

            events: {

                "click .ver_proceso": "verProceso",
                "click #ver_tareas": "verTareas",
                "click .search_by": "buscarDocumento"

            },

            initialize: function () {
//                this.container.html('');
//                this.container.append(this.empleados_template(this.empresa_model.toJSON()));
//                return this;
            },

            render: function(){
                //this.container.html('');
                //this.container.append(this.procesos_template());

                return this;
            },
            verEmpleados: function (ev) {
                ev.preventDefault();
                var self =this
                this.container.html('');
                this.container.append(this.empleados_template());
                this.ifSmallDevice(this.container);

                return this;
            },
            verProceso: function (ev) {
                ev.preventDefault();
                titulo=$(ev.target).html();
                console.log(titulo);
                this.container.find('#nombre_proceso').html(titulo);
                this.container.html('');
                this.container.append(this.procesos_template());
                this.container.find('#nombre_proceso').html(titulo);
                this.ifSmallDevice(this.container);
                return this;
            },

            ifSmallDevice: function (container) {
                if($(window).width()<=768)
                    $("html, body").animate({ scrollTop: container.offset().top -15}, 1000);

            },
            eliminaItem: function (ev) {
                ev.preventDefault();
                var element=$(ev.target);

                if(element.hasClass('elimina-empleado')){
                    $('#eliminaEmpleado').modal('show');
                    console.log('empleado'+element.parent().parent().attr('id'))
                }else if(  element.parent().hasClass('elimina-empleado')){
                    $('#eliminaEmpleado').modal('show');
                    console.log('empleado'+element.parent().parent().parent().attr('id'))
                }
                if(element.hasClass('elimina-proceso')){
                    $('#eliminaProceso').modal('show');
                    console.log('proceso'+element.parent().parent().attr('id'))
                }else if(  element.parent().hasClass('elimina-proceso')){
                    $('#eliminaProceso').modal('show');
                    console.log('proceso'+element.parent().parent().parent().attr('id'))
                }

                if(element.hasClass('elimina-perfil')){
                    $('#eliminaPerfil').modal('show');
                    console.log('perfil'+element.parent().parent().attr('id'))
                }else if(  element.parent().hasClass('elimina-perfil')){
                    $('#eliminaPerfil').modal('show');
                    console.log('perfil'+element.parent().parent().parent().attr('id'))
                }

                if(element.hasClass('elimina-tarea')){
                    $('#eliminaTarea').modal('show');
                    console.log('tarea'+element.parent().parent().attr('id'))
                }else if(  element.parent().hasClass('elimina-tarea')){
                    $('#eliminaTarea').modal('show');
                    console.log('tarea'+element.parent().parent().parent().attr('id'))
                }
            },

            buscarDocumento: function (ev) {

                this.container.find('#input_busqueda').html('');
                this.container.find('#input_busqueda').css('display', 'block')

                if($(ev.target).attr('id')=='tipo_documento'){

                    this.container.find('#input_busqueda').html('<div class="span4"><select class="span4" style="margin-bottom: 0 !important;"><option>Caracterizacion</option><option>1</option><option>1</option></select>');
                    this.container.find('#input_busqueda').append('<button  style="display: inline-block; margin left: 8px;" >Buscar por tipo</button></div>');
                }

                else if($(ev.target).attr('id')=='nombre_documento'){

                    this.container.find('#input_busqueda').html('<div class="span4"><input class="span3" style="margin-bottom: 0 !important;" type="text">');
                    this.container.find('#input_busqueda').append('<button  style="display: inline-block; margin left: 8px;">Buscar por nombre</button></div>');
                }

                else if($(ev.target).attr('id')=='fecha_documento'){

                    this.container.find('#input_busqueda').html('<div class="span4"><input class="span3" style="margin-bottom: 0 !important;" type="date">');
                    this.container.find('#input_busqueda').append('<button  style="display: inline-block; margin left: 8px;" >Buscar por fecha</button></div>');
                }

            },
            creaProceso: function (ev) {
                ev.preventDefault();
                $('#creaProceso').modal('show');
            }

        });

        var view = new EmpresaView();
        view.render();
    });

</script>
