{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block navbar %}
    <li class="active"><a href="admin.html"><i class="icon-dashboard"></i><span>Inicio</span> </a> </li>
    <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Menu</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="admin_empresas.html">Empresas</a></li>
            <li><a href="templates_origin/faq.html">Usuarios</a></li>
            <li><a href="formularios.html">Formularios</a></li>
        </ul>
    </li>
    <li><a href="templates_origin/guidely.html"><i class="icon-facetime-video"></i><span>Tour</span> </a></li>
    <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i><span>Mi Cuenta</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="templates_origin/faq.html">Cambiar Contraseña</a></li>
            <li><a href="index.html">Cerrar Sesión</a></li>
        </ul>
    </li>
    <li><a href="templates_origin/shortcodes.html"><i class="icon-code"></i><span>About</span> </a> </li>
{% endblock %}

{% block breadcrumb %}
    </div>
    <ol class="breadcrumb " >
        <div class="breadcrumb-title">
            <li><a href="#"><i class=" icon-caret-right"></i> Inicio</a> /</li>
            <li ><a href="#">Empresas</a> /</li>
            <li class="active"><a href="#">Huella Logistica</a></li>

        </div>
    </ol>
{% endblock %}

{% block content %}
    <!-- Modal Ver Empleado-->
    <div class="modal fade modal-lg" id="verEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog " role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="">LING LUNG ZUÑIGA</h4>
                </div>
                <div class="modal-body">
                    <div class="span3" >
                        <div style="border:solid #d9d9d9 1px; width: 0 auto; margin:auto; padding: 10px; text-align: center" ><img style="width: 100%" src="{% static 'img/default-user.png'%}"></div>
                    </div>
                    <div class="span 7">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Nombre Completo</label>
                                    <div class="controls">
                                        Ling Lung Zuñiga
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Tipo de Documento</label>
                                    <div class="controls">
                                        Cedula de Ciudadanía
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Documento de Identificación:</label>
                                    <div class="controls">
                                        1112311111
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Perfil</label>
                                    <div class="controls">
                                        MiPerfil
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->

                                <div class="control-group">
                                    <label class="control-label" for="firstname">E-mail:</label>
                                    <div class="controls">
                                        linglung1047@gmail.com
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Dirección:</label>
                                    <div class="controls">
                                        Av. siempre viva Springfield
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Telefono 1</label>
                                    <div class="controls">
                                        555 - 5555
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                <div class="control-group">
                                    <label class="control-label" for="firstname">Telefono 2:</label>
                                    <div class="controls">
                                        555 - 5555
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->

                            </fieldset>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary btn-editar-empleado">Editar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Crea Empleado-->
    <div ng-controller="EmpleadosCtrl">

        <script type="text/ng-template"  id="modal-creaEmpleado.html">

            <div class="modal-header">
                <h4 class="modal-title" id="">NUEVO EMPLEADO</h4>
            </div>
            <form id="crea_empleado" class="form-horizontal">
                <div class="modal-body crea-empleado ">
                    {% if form_empleados %}
                        {% csrf_token %}
                        <fieldset>
                            {##}
                            <div class="control-group">
                                <label class="control-label" for="firstname">Nombres</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.nombre }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="lastname">Apellidos</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.apellido }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="lastname">Documento de Identificación</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.identificacion }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="lastname">Tipo de Documento </label>
                                <div class="controls">
                                    {{ form_empleados.tipo_documento }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="lastname">Codigo</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.codigo }}
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.email }}
                                </div>
                            </div>

                            <div class="control-group ">
                                <label class="control-label" for="lastname">Dirección</label>
                                <div class="controls ce-input">
                                    {{ form_empleados.direccion }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="lastname">Telefono</label>
                                <div class="controls">
                                    {{ form_empleados.telefono1 }}
                                    {{ form_empleados.telefono2 }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Privilegios: </label>

                                <div class="controls">
                                    <label class="checkbox inline">
                                        <input type="checkbox" ng-model="datos.is_admin"> Marcar como administrador
                                    </label>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="lastname">Perfil</label>
                                <div class="controls">
                                    {{ form_empleados.perfil }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="lastname">Foto</label>
                                <div class="controls">
                                         <input type="file" id="foto" file-input="foto"/>
                                         <button ng-click="subirImagen()"></button>
                                        <button ng-click="openFoto()">FOTO</button>
                                </div>
                            </div>
                        </fieldset>
                    {% endif %}
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="ok()"  class="btn btn-primary">Aceptar</button>
            </div>
        </script>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Crea Proceso-->
    <div ng-controller="ProcesosCtrl">
        <script type="text/ng-template"  id="modal-creaProceso.html">

            <div class="modal-header">
                <h4 class="modal-title" id="">NUEVO PROCESO</h4>
            </div>
            <div class="modal-body">
                <form id="crea_proceso" class="form-horizontal">
                    {% if form_procesos %}
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="lastname">Categoria</label>
                            <div class="controls ce-input">
                                {{ form_procesos.categoria }}
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="firstname">Nombre</label>
                            <div class="controls ce-input">
                                {{ form_procesos.nombre }}
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->


                        <div class="control-group">
                            <label class="control-label" for="lastname">Código</label>
                            <div class="controls ce-input">
                                {{ form_procesos.codigo }}
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="lastname">Descripción</label>
                            <div class="controls ce-input">
                                {{ form_procesos.descripcion }}
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->
                        {% if form_procesos.formatos_asignados %}
                        <div class="control-group">
                            <label class="control-label" for="lastname">Formatos Asignados</label>
                            <div class="controls">
                                {{ form_procesos.formatos_asignados }}
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->
                        {% endif %}

                    </fieldset>
                    {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="ok()" class="btn btn-primary">Crear</button>
            </div>
        </script>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Crea Perfil-->
    <div class="modal fade modal-lg" id="creaPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog " role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="">NUEVO PERFIL</h4>
                </div>
                <div class="modal-body modal-body-lg">
                    <form id="crea_proceso" class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="firstname">Nombre</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="firstname" value="John">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->


                            <div class="control-group">
                                <label class="control-label" for="lastname">ID</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="lastname" value="Donga">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                            <div class="control-group">
                                <label class="control-label" for="lastname">Descripción</label>
                                <div class="controls">
                                    <textarea class="span6"></textarea>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="control-group">
                                <label class="control-label" for="lastname">Procesos a los que esta asociado este perfil</label>
                                <div class="controls">
                                    <select multiple="multiple" class="span6">
                                        <option>Direccion Estrategica</option>
                                        <option>Proceso2</option>
                                        <option>Proceso3</option>
                                        <option>Proceso4</option>
                                    </select>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal ver Perfil-->
    <div class="modal fade modal-lg" id="verPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog " role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="">NUEVO PERFIL</h4>
                </div>
                <div class="modal-body modal-body-lg">
                    <form id="crea_proceso" class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="firstname">Nombre</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="firstname" value="John">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->


                            <div class="control-group">
                                <label class="control-label" for="lastname">ID</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="lastname" value="Donga">
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                            <div class="control-group">
                                <label class="control-label" for="lastname">Descripción</label>
                                <div class="controls">
                                    <textarea class="span6"></textarea>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="control-group">
                                <label class="control-label" for="lastname">Procesos a los que esta asociado este perfil</label>
                                <div class="controls">
                                    <select multiple="multiple" class="span6">
                                        <option>Direccion Estrategica</option>
                                        <option>Proceso2</option>
                                        <option>Proceso3</option>
                                        <option>Proceso4</option>
                                    </select>
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->
                            <div class="control-group">
                                <label class="control-label" for="lastname">Formatos</label>
                                <div class="controls">
                                    <div class="span3" style="margin-left: 0 !important;">
                                        <select multiple="multiple" class="span3">
                                            <option>Direccion Estrategica</option>
                                            <option>Proceso2</option>
                                            <option>Proceso3</option>
                                            <option>Proceso4</option>
                                        </select>
                                    </div>
                                    <div class="span2" ><button class="btn btn-warning button-agregar-formulario">Agregar Formato</button></div>
                                </div> <!-- /controls -->

                            </div> <!-- /control-group -->

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Agrega Formulario a Perfil-->
    <div class="modal fade" id="agregaFormulario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Perfil</h4>
                </div>
                <div class="modal-body">

                    <form>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="lastname">Elige los formularios para agregarlos al perfil:</label>
                                <div class="controls">
                                    Arrastra el cursor presionado sobre los formatos que deseas elegir o utiliza la tecla Shift
                                    <div class="span3" style="margin-left: 0 !important; ">
                                        <select multiple="multiple" class="span5" style=" min-height:150px;">
                                            <option>Formato Para Perfil Gerente</option>
                                            <option>Formato Para Perfil SubGerente</option>
                                            <option>Formato Para Perfil Operacional</option>
                                            <option>Formato Para Perfil Administrador</option>
                                            <option>Formato Para Perfil Gerente</option>
                                            <option>Formato Para Perfil SubGerente</option>
                                            <option>Formato Para Perfil Operacional</option>
                                            <option>Formato Para Perfil Administrador</option>
                                        </select>

                                    </div>

                                </div> <!-- /controls -->

                            </div> <!-- /control-group -->

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Elimina Empleado-->
    <div class="modal fade" id="eliminaEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Empleado</h4>
                </div>
                <div class="modal-body">
                    Para eliminar al empleado LING LUNG ZUÑIGA usted debe ser usuario Administrador.<br>
                    Por favor digite su clave para continuar.<br>
                    <input type="text">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Elimina Proceso-->
    <div class="modal fade" id="eliminaProceso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Proceso</h4>
                </div>
                <div class="modal-body">
                    Para eliminar un proceso usted debe ser usuario Administrador.<br>
                    Por favor digite su clave para continuar.<br>
                    <input type="text">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Elimina Perfil-->
    <div class="modal fade" id="eliminaPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Perfil</h4>
                </div>
                <div class="modal-body">
                    Para eliminar un perfil usted debe ser usuario Administrador.<br>
                    Por favor digite su clave para continuar.<br>
                    <input type="text">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->
    <!-- Modal Elimina Tarea-->
    <div class="modal fade" id="eliminaTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Tarea</h4>
                </div>
                <div class="modal-body">
                    Para eliminar un empleado usted debe ser usuario Administrador.<br>
                    Por favor digite su clave para conyinuar.<br>
                    <input type="text">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!---------- Finish Modal--------------->

    <div class="main-inner empresa-page">
            {% csrf_token %}
        <div class="container">

            <div class="row" >
                <div class="span2 panel">

                    <a href="#procesos" id="ver_procesos" class="btn btn-success large-button">PROCESOS</a><br>
                    <a href="#empleados" id="ver_empleados" class="btn btn-success large-button" >EMPLEADOS</a><br>
                    <a href="#perfiles" id="ver_perfiles" class="btn btn-success large-button">PERFILES</a><br>
                    <a href="#tareas" id="ver_tareas" class="btn btn-success large-button">CREAR TAREA</a><br>

                </div>
                <div class="span10">
                    <div id="contenido" style="border: 1px solid #d9d9d9; background-color:#fff; min-height: 200px">
                        <div ng-view>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
{% endblock %}

{% block some_extra_js %}

    <script>
        $( document ).ready(function(){
            window.empresa='{{ empresa.pk }}'
        });
    </script>
    <script src="{% static 'js/angular/admin/empresa_controller.js' %}"></script>
{% endblock %}
