{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb " >
        <div class="breadcrumb-title">
            <li><a href="#"><i class=" icon-caret-right"></i> Inicio</a> /</li>
            <li ><a href="#">Formularios</a> /</li>
            <li class="active"><a href="#">Nuevo</a></li>

        </div>
    </ol>
{% endblock %}

{% block content %}
    <div class="main-inner">
        <div class="container">
            <div class="row" >
                <div class="widget widget-table action-table" >
                    <div class="widget-header"> <i class="icon-th-list"></i>
                        <h3>NUEVO FORMULARIO</h3>

                    </div>
                    <!-- /widget-header -->
                    <div class="widget-content" >
                        <form id="edit-profile" class="form-horizontal">
                            <fieldset STYLE="margin-top: 20px;">
                                <div class="control-group" >
                                    <div class="span9" style="margin-left: 0">
                                        <label class="span3" style="color:#696969; font-weight: bold !important; font: 22px 'Helvetica Neue';" for="nombre">Nombre del Formulario</label>
                                        <input type="text" name="nombre" class="span6 disabled" style="font-size: 16px;" id="nombre">
                                    </div>
                                    <div><button  class="span2 guarda-formulario"  type="button">Guardar</button></div>

                                </div> <!-- /control-group -->
                            </fieldset>


                            <div>
                                <div id="tipos" class="span3" >
                                    <ul>
                                        <li class="btn" id="text"><div class="tipo_icon"><i class="icon-text-height"></i></div><div class="tipo_texto">Texto</div></li>
                                        <li class="btn" id="file"><div class="tipo_icon"><i class="icon-folder-open"></i></div><div class="tipo_texto">Archivo</div></li>
                                        <li class="btn" id="number"><div class="tipo_icon"><i>123</i></div><div class="tipo_texto">Numero</div></li>
                                        <li class="btn" id="textarea"><div class="tipo_icon"><i class=" icon-align-justify"></i></div><div class="tipo_texto">Area de texto</div></li>
                                        <li class="btn" id="radio"><div class="tipo_icon"><i class="icon-ok-sign"></i></div><div class="tipo_texto">Boton de Radio</div></li>
                                        <li class="btn" id="checkbox"><div class="tipo_icon"><i class="icon-check"></i></div><div class="tipo_texto">Campo de <br>Selección</div></li>
                                        <li class="btn" id="date"><div class="tipo_icon"><i class="icon-calendar"></i></div><div class="tipo_texto">Fecha</div></li>
                                    </ul>

                                </div>
                                <div id="campos"  class="span8">
                                    <li class="placeholder" style="font-size: 22px; color :#CACACA; padding: 15px;">Agrega campos a tu formulario...</li>
                                </div>
                            </div>
                        </form>
                    <!-- /widget-content -->
                </div>


            </div>
            <!-- /span6 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>
<!-- /main -->
{% endblock %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% block some_extra_js %}
    <script src="{% static 'js/formularios/crear.js' %}"></script>
{% endblock %}

{##}
{#<!-- Modal Elimina Empresa-->#}
{#<div class="modal fade" id="insertaCampo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >#}
{#    <div class="modal-dialog modal-sm" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <h4 class="modal-title" id="myModalLabel">Eliminar Formato</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <form id="nuevo_campo_form">#}
{#                    <label style="font-size: 16px">Nombre del campo:</label><input style="height: 30px; width: 95%;" id="nombre"><br>#}
{#                    <div id="ifNumber" style="display: none">#}
{#                        <label>Valor Minimo</label><input type="number" id="val_min"><br>#}
{#                        <label>Valor Máximo</label><input type="number" id="val_max"><br>#}
{#                    </div>#}
{#                    <input type="hidden" id="tipo"><br>#}
{##}
{#                </form>#}
{##}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>#}
{#                <button type="button" onclick="appendDraggable($('#nuevo_campo_form'))" class="btn btn-primary">Guardar</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="modal fade" id="guardaFormulario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >#}
{#    <div class="modal-dialog modal-sm" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <h4 class="modal-title" id="myModalLabel">Eliminar Formato</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <form id="nuevo_campo_form">#}
{#                    <label>Agrega una descripción a este formulario</label><br>#}
{#                    <textarea style="width: 95%"></textarea>#}
{##}
{#                </form>#}
{##}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>#}
{#                <a href="formularios.html" class="btn btn-primary ">Guardar</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
