<script type="text/template" id="empleados"></script>
<script type="text/template" id="crear_empleado"></script>
<script type="text/template" id="ver_empleado"></script>


<script type="text/template" id="procesos"></script>
<script type="text/template" id="crear_proceso"></script>
<script type="text/template" id="ver_proceso"></script>

<script type="text/template" id="perfiles"></script>
<script type="text/template" id="crear_perfil"></script>
<script type="text/template" id="ver_perfil"></script>

<script type="text/template" id="tareas"></script>
<script type="text/template" id="crear_tarea"></script>
